.star {
  height: 20px;
  width: 20px;
}

.random-image {
  max-height: 400px;
  max-width: 400px;
  min-width: 300px;
  min-height: 300px;
}

.leaderboard-image {
  margin-left: 4px;
  max-height: 100px;
  max-width: 100px;
}

.leaderboard {
  margin: 4px;
}